@typeparam TModel where TModel : ITestEntity

<MudForm>
    <div class="align-items-center">
        <table class="table table-bordered table-striped w-100">
            <tbody>
                @if (Model.Conditions != null && Model.Conditions.Any())
                {
                    bool rowForId = false;

                    @foreach (var t in Model.Conditions)
                    {
                        <tr>
                            @if (!rowForId)
                            {
                                <td class="text-center align-middle fs-2" style=" width: 200px;">@Model.TestID</td>
                                <td class="text-center align-middle fs-2" style=" width: 1000px;">@Model.Name</td>
                                <td class="text-center align-middle fs-2">@Model.Section.Name</td>
                                rowForId = true;
                            }
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>

    <style>
        th, td {
            padding: 10px 20px;
        }

        .form-control {
            text-align: center;
        }
    </style>

</MudForm>

