@page "/test_tubes"

<h3>Tubos de Ensayo</h3>

<div class="mb-3">
    <a class="btn btn-primary" @onclick=@(()=>ShowCreateModal())>Nuevo Tubo</a>
</div>

<GenericList MyList="TestTubes">
    <Body>
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync"
                    SelectedRedordsNumber="SelectedRedordsNumberAsync" />

        <Filter PlaceHolder="Buscar tubo de ensayo por nombre..." Callback=@FilterCallback />

        <table class="table table-striped" style="vertical-align:middle">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th style="width:180px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var test in TestTubes!)
                {
                    <tr>
                        <td>@test.Id</td>
                        <td>@test.Name</td>
                        <td>@test.Description</td>

                        <td>
                            <a @onclick=@(()=>ShowEditModal(test.Id)) class="btn btn-warning">Editar</a>
                            <button @onclick=@(() => DeleteAsync(test)) class="btn btn-danger">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>