@page "/states/edit/{StateId:int}"

<h3>Editar Estado y departamento</h3>

@if (state is null)
{
    <Loading />
}
else
{
    <FormWithName @ref="stateForm" Label="State/Department:" Model="state" OnValidSubmit="SaveAsync" ReturnAction="Return" />
}
