@page "/states/create/{CountryId:int}"

<h3>Nuevo Estado y Departamento</h3>

<FormWithName @ref="stateForm" Label="State/Department:" Model="state" OnValidSubmit="CreateAsync" ReturnAction="Return" />