@*@page "/Login"*@

<div class="row">
    <div class="col-12">
        <EditForm Model="loginDTO" OnValidSubmit="LoginAsync">
            <DataAnnotationsValidator />

            <div class="card bg-light">
                <div class="card-header d-flex justify-content-center">
                    <span>
                        <i class="oi oi-account-login" /> Ingreso al LIS
                    </span>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label>Email:</label>
                        <div>
                            <InputText class="form-control" @bind-Value="@loginDTO.Email" />
                            <ValidationMessage For="@(() => loginDTO.Email)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Contraseña:</label>
                        <div>
                            <InputText type="password" class="form-control" @bind-Value="@loginDTO.Password" />
                            <ValidationMessage For="@(() => loginDTO.Password)" />
                        </div>
                    </div>
                    <div class="d-flex justify-content-evenly">
                        <button class="btn btn-sm btn-primary" @onclick=@(() => LoginAsync())>Iniciar sesión</button>
                        <button class="btn btn-sm btn-danger" @onclick=@(() => CloseModalAsync())>Cancelar</button>
                    </div>
                </div>
                 <div class="card-footer">
                    <p><a class="btn btn-link" href="/ResendToken">Reenviar correo de activación de cuenta</a></p>
                    <p><a class="btn btn-link" @onclick=@(()=>ShowModal())>¿Has olvidado tu contraseña?</a></p>
                </div> 
            </div>
        </EditForm>
    </div>
</div>

