@inherits LayoutComponentBase
<div class="page">
    <AuthorizeView Roles="User,Admin">
        <div class="sidebar">
            <NavMenu />

        </div>
    </AuthorizeView>

    <main>
        <AuthorizeView>
            <NotAuthorized>
                <AuthLinks />
            </NotAuthorized>
        </AuthorizeView>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
