<!-- TODO: erase -->
<AuthorizeView Roles="Admin,User">
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LabPreTest Menu</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="nav-item px-3">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Catálogo de pruebas
    </NavLink>
</div>

</AuthorizeView>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthLinks />
        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/countries">
                    <span class="bi bi-map-fill-nav-menu" aria-hidden="true"></span> Países
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/tests">
                    <span class="bi bi-eyedropper" aria-hidden="true"></span> Exámenes
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/test_tubes">
                    <span class="bi bi-activity-nav-menu" aria-hidden="true"></span> Tubos de Ensayo
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/sections">
                    <span class="bi bi-bandaid-fill-nav-menu" aria-hidden="true"></span> Secciones
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/trazability">
                    <span class="bi justify-left" aria-hidden="true"></span> Trazabilidad
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/preanalyticConditions">
                    <span class="bi bi-clipboard-heart-nav-menu" aria-hidden="true"></span> Preanalíticos
                </NavLink>
            </div>
        </AuthorizeView>
        
        <AuthorizeView Roles="User">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/medicians">
                    <span class="bi bi-file-earmark-medical-fill-nav-menu" aria-hidden="true"></span> Médicos
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/patients">
                    <span class="bi bi-bandaid-fill-nav-menu" aria-hidden="true"></span> Pacientes
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/orders">
                    <span class="bi bi-clipboard-heart-nav-menu" aria-hidden="true"></span> Órdenes
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/sample_taking">
                    <span class="bi bi-eyedropper" aria-hidden="true"></span> Toma de muestras
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
