@page "/orders"

<h3 class="mb-4">Órdenes</h3>

<!-- Botón para Crear/Editar Orden -->
<div class="mb-3">
    <a class="btn btn-primary" href="/orders/create">Crear/Editar Orden</a>
</div>

<!-- Campo de búsqueda de orden -->
<div class="mb-3">
    <input type="number" class="form-control" @bind="orderValue" placeholder="Ingrese documento del paciente a buscar..." />
</div>

<!-- Botón para buscar orden -->
<div class="mb-3">
    <button class="btn btn-primary" @onclick="async () => await SearchOrder()">Buscar orden</button>
</div>

<!-- Tabla de detalles de la orden -->
<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>Numero de Orden</th>
            <th style="width:180px">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (orderValue == null)
        {
            <tr>
                <td colspan="2" class="text-center">
                    <h4>No hay orden seleccionada</h4>
                </td>
            </tr>
        }
        @if (orderValue != null && SelectedOrder != null)
        {
            <tr>
                <td colspan="2" class="text-center"><h1>Orden número: @SelectedOrder.Id</h1></td>
            </tr>

            <tr>
                <td colspan="2" class="text-center">
                    <strong>Medico</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <LabPreTest.Frontend.Pages.Medician.MedicOrderEditDetail Id=medicId></LabPreTest.Frontend.Pages.Medician.MedicOrderEditDetail>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="text-center">
                    <strong>Paciente</strong>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <LabPreTest.Frontend.Pages.Patients.PatientOrderEditDetail Id=patientId></LabPreTest.Frontend.Pages.Patients.PatientOrderEditDetail>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="text-center">
                    <strong>Exámenes de la orden</strong>
                </td>
            </tr>

            @foreach (var orderDetails in SelectedOrder.Details)
            {
                <tr>
                    <td colspan="2" class="text-center">
                        <LabPreTest.Frontend.Pages.Tests.TestShowOrder Id=orderDetails.TestId></LabPreTest.Frontend.Pages.Tests.TestShowOrder>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>