@page "/orders/create"

<h3>Create Order</h3>

@if (order is null)
{
    <Loading />
}
else
{
    <FormForOrder @ref="ordersForm"
                  Label=""
                  Model="order"
                  OnValidSubmit="CreateAsync"
                  ReturnAction="Return" />
}
