@page "/countries/details/{CountryId:int}"

@if (country == null || country.States == null)
{
    <Loading />
}
else
{
    <div class="mb-2">
        <a class="btn btn-primary" @onclick=@(()=>ShowCreateModal(country.Id))>Nuevo estado / departamento</a>
        <a class="btn btn-success" href="/countries">Return</a>
    </div>

    <h4>Estados/Departamentos</h4>
    <GenericList MyList="states!">  
        <Body>
            
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync" />

            <Filter PlaceHolder="Buscar estado por nombre..." Callback=@FilterCallback />


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>State/Department</th>
                        <th style="width:90px">City</th>
                        <th style="width:210px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var state in states!)
                    {
                        <tr>
                            <td><a href="/states/details/@state.Id">@state.Name</a></td>
                            <td>@state.CitiesNumber</td>
                            <td>
                                <a class="btn btn-warning btn-sm" @onclick=@(()=>ShowEditModal(state.Id))>Editar</a>
                                <a class="btn btn-info btn-sm" href="/states/details/@state.Id">Detalles</a>
                                <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(state))>Borrar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </Body>
    </GenericList>
}
