@page "/countries"

<h3>Countries</h3>

<div class="mb-3">
    <a class="btn btn-primary" href="/countries/create">New Country</a>
</div>

<GenericList MyList="Countries">
    <Body>

        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync"
                    SelectedRedordsNumber="SelectedRedordsNumberAsync"/>

        <Filter PlaceHolder="Find country..." Callback=@FilterCallback/>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Country</th>
                    <th style="width:210px">States / Departments</th>
                    <th style="width:210px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Countries!)
                {
                    <tr>
                        <td>@country.Name</td>
                        <td>@country.StatesNumber</td>
                        <td>
                            <a href="/countries/edit/@country.Id" class="btn btn-sm btn-warning">Edit</a>
                            <a class="btn btn-info btn-sm" href="/countries/details/@country.Id">Details</a>
                            <button @onclick=@(() => DeleteAsycn(country)) class="btn btn-sm btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>
