@page "/sections"

<h3>Sections</h3>

<div class="mb-3">
    <a class="btn btn-primary" @onclick=@(()=>ShowCreateModal())>Nuevo sección</a>
</div>

<GenericList MyList="Sections">
    <Body>
        <Pagination CurrentPage="currentPage"
                    TotalPages="totalPages"
                    SelectedPage="SelectedPageAsync"
                    SelectedRedordsNumber="SelectedRedordsNumberAsync" />
        <Filter PlaceHolder="Buscar Examenes..." Callback=@FilterCallback />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id de la sección</th>
                    <th>Nombre de la sección</th>
                    <th style="width:180px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var s in Sections!)
                {
                    <tr>
                        <td>@s.Name</td>

                        <td>
                            <a @onclick=@(()=>ShowEditModal(s.Id)) class="btn btn-warning">Editar</a>
                            <button @onclick=@(() => DeleteAsync(s)) class="btn btn-danger">Borrar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
</GenericList>
