@page "/sections/create"

<h3>Crear sección</h3>

@if (section is null)
{
    <Loading />
}
else
{
    <FormForSection @ref="sectionForm" Label="Sección:" Model="section" OnValidSubmit="CreateAsync" ReturnAction="Return" />
}
